body {
    /* Old browsers */
    background: rgb(0, 0, 0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, rgb(0, 0, 0), rgb(0, 0, 0));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, rgb(0, 0, 0), rgb(0, 0, 0));
    margin: 0;
    padding: 0;
  }

  .container-fluid {
    padding: auto ;
    font-size: 10px;
    border: 1px solid white;
    text-align: center;
    letter-spacing: 3px;
    }
  
    .container-fluid a {
      border: 1px solid white;
      color: white;
    }

  .container-fluid a.home {
    font-family: 'Lucida Grande';
    font-size: 40px;
    letter-spacing: 10px;
  }

  #menu {
    margin: 50px 17px; 
  }

  #RMZ {
    margin : 20px 0; 
  }
  .container-fluid .homeactual {
    font-family: 'Lucida Grande';
    font-size: 50px;
    letter-spacing: 10px;
    color: rgb(255, 219, 101);
  }

  .container-fluid a.logofacebook {
    padding: 15px 10px;
  }
  .container-fluid a.logofacebook:hover {
    opacity:0.60;
  }
  .container-fluid a.logosoundcloud {
    padding: 15px 10px;
  }
  .container-fluid a.logosoundcloud:hover {
    opacity:0.60;
  }
  .container-fluid a.logoinstagram {
    padding: 18px 10px;
  }
  .container-fluid a.logoinstagram:hover {
    opacity:0.60;
  }

  #logo {
    margin : 42px 0;
  }

  .news {
    font-family: 'Lucida Grande';
    color: rgb(255, 219, 101);
    font-size: 40px;
    letter-spacing: 10px;
    border: 1px solid white; 
    text-align: center;
  }
  .news div{
    font-size: 200%; 
  }
  #test {
    border: 1px solid white;
  }